@use '../_index.scss' as *;

.header {
    background:linear-gradient(90deg, $primaryBackground 10px, transparent 1%) center, linear-gradient($primaryBackground 10px, transparent 1%) center, black;
    background-size: 12px 12px;
    z-index: 99;
    margin: 0 auto;
    width: 100%;
    
    &__content {
        width: max(60%,  1300px);
        margin: 0 auto;
        padding: .3rem 0rem;

        @media (max-width: 1300px) {
            width: 90%;
        }
    }

    &__top {
        width: 100%;
        height: 3.5rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__all {
        @include flex-center;
        flex: 1;
        height: 2.4rem;
        border-radius: .3rem;
        margin-right: .5rem;
        margin-left: .1rem;
        background: $colorRed;
        color: $white;
        box-shadow: $shadowInputMain;

        span {
            font-size: 1rem;
        }
    }

    &__logo {
        @include flex-center;
        justify-content: flex-start;
        flex: 2;
        overflow: hidden;
        max-height: 100%;
        height: 100%;

        &_unset {
            width: 100%;
            height: 100%;
        }

        &_img {
            overflow: hidden;
            object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }
    }

    &__interactions {
        flex: 6;
    }
}

.menu_slide {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0%;
}

.menu {
    width: max(60%,  1300px);
    margin: 0 auto;
    height: 3.5rem;
    display: flex;
    z-index: 9;

    @media (max-width: 1300px) {
        width: 90%;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        height: 100%;
        position: relative;

        &__icon {
            font-size: 1.1rem;
            margin-right: .4rem;            
        }

        &__item {
            @include flex-center;
            
            &:not(:first-child) {
                color: $colorBlack;
                background: $colorYellow;
                box-shadow: $shadowInputMain;
                padding: .1rem;
                text-align: center;
                border: solid 1px #2d3b3e;
                padding: 0 .3rem;
                text-align: center;
                margin-right: 2rem;
            }

            &:first-child {
                color: $white;
                height: 100%;
                margin-right: 2rem;
                padding-left: 0rem;
                color: #2d3b3e;
                font-weight: 200;
                width: 11rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 2;

                & > a {
                    width: 100%;
                    height: 2.1rem;

                    & > div {
                        background: white;
                        width: 100%;
                        height: inherit;
                        border: solid 1px #2d3b3e;

                        &:after {
                            content: "";
                            position: absolute;
                            transform: translateX(.2rem) translateY(-.2rem);
                            border: solid 1px #2d3b3e;
                            width: inherit;
                            height: inherit;
                            background: white;
                            z-index: -1;                            
                            display: block;
                            transition: transform .2s ease-out;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            transform: translateX(.4rem) translateY(-.4rem);
                            border: solid 1px #2d3b3e;
                            width: inherit;
                            height: inherit;
                            background: white;
                            z-index: -1;                            
                            display: block;
                            transition: transform .2s ease-out;
                        }
    
                        i {     
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            flex: 2;
                            font-size: 1rem;
                            color: #2d3b3e;
                            clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
                        }
        
                        span {
                            flex: 3;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            background: white;
                            font-weight: 400;
                        }
                    }
                }
            }

            div {
                @include flex-center;
                height: 100%;
                margin-right: .5rem;
                min-width: 4rem;
                z-index: 222;
            }
        }
    }

    &_selected {
        z-index: 99999;

        &:first-child {
            color: $colorBlack;
            background: $white;
            border: solid 1px $colorBlack;
            border-bottom: none;
            
            & > a {

                & > div {
                    border: none;

                    &:after, &:before {
                        transform: translateX(0rem) translateY(0rem);
                        border: none;
                    }
                }
            }
        }
    }
}