@use '../_index.scss' as *;

.spinner {
    pointer-events: none;

    &__content {
        @include flex-center;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        z-index: 9999;
        pointer-events: none;

        &__animation {
            content: " ";
            display: block;
            width: 2rem;
            height: 2rem;
            margin: .2rem;  
            border-radius: 50%;
            border: .2rem solid $colorMain;
            border-color: $colorMain transparent $colorMain transparent;
            animation: lds-dual-ring 1.2s linear infinite;
            pointer-events: none;
        }

        &__pulse {
            border-radius: 1rem;
            box-shadow: $shadowMain;
            pointer-events: none;

            & > div {
                animation: pulsating .4s infinite ease-out alternate;
            }
        }
    }
}