// 640px, 1024px, 1400px
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "87.5em");

// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size){
  @media (min-width: map-get($breakpoints-up, $size)){
    @content;
  }
}

@mixin breakpoint-down($size){
  @media (max-width: map-get($breakpoints-down, $size)){
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ribbone {
  &:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid #2d3b3e;
    border-top: 5px solid #2d3b3e;
    border-bottom: 5px solid transparent;
  }
}