@use './_index.scss' as *;

.text { }

.image_square { }

.image_round {
    border-radius: 50%;
}

.skeleton {
    width: 100%;
    gap: .6rem;
    padding: .5rem;
    
    div[class*="text"] {
        div {  
            opacity: .7;
            animation: skeleton-loading 1s linear infinite alternate;
            height: .7rem;
            margin-bottom: .25rem;
            border-radius: .125rem;
    
            &:last-child {
                margin-bottom: 0;
                width: 80%;
            }   
        }
    }

    div[class*="image"] {
        opacity: .7;
        animation: skeleton-loading 1s linear infinite alternate;
    }
    
}

.suggestion {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "product-image name name name name name name price"
    "product-image name name name name name name price"
    "product-image .    .    .    .    .    .    price";
    min-height: 5rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    "product-image product-image product-image   product-image  "
    "product-image product-image product-image   product-image  "
    "product-image product-image product-image   product-image  "
    "name          name          name            name           "
    "category      .             .              .               "
    "reviews      reviews        reviews        .               "
    "colors       .              price          price           "
    "colors       .              price          price           "
    "colors       .              .              .               ";
}

.product {
    padding-top: 2rem;
    min-height: 100vh;      
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". breadcrumbs breadcrumbs  .           .               ."
    ". title       title        title       title           ."
    ". carousel    .            text-price  text-actions    ."
    ". carousel    .            text-price  text-actions    ."
    ". .           .            .           text-offer      ."
    ". .           .            .           .               ." 
    ". .           .            .           .               ."; 
}
